@import "./mixin.scss";
@import "../assets/fonts/fonts.scss";

// 'Roboto-Medium';
// 'Roboto-Regular';
// 'Roboto-Light';
// 'SFProText-bold';
// 'SFProText-Medium';
// 'SFProText-Light';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background: white;
}


